- if issuable.errors.any?
  .row
    .col-sm-offset-2.col-sm-10
      .alert.alert-danger
        - issuable.errors.full_messages.each do |msg|
          %span= msg
          %br
.form-group
  = f.label :title, class: 'control-label' do
    %strong= 'Title *'
  .col-sm-10
    = f.text_field :title, maxlength: 255, autofocus: true,
        class: 'form-control pad js-gfm-input', required: true

    - if issuable.is_a?(MergeRequest)
      %p.help-block
        - if issuable.work_in_progress?
          Remove the <code>WIP</code> prefix from the title to allow this
          <strong>Work In Progress</strong> merge request to be accepted when it's ready.
        - else
          Start the title with <code>[WIP]</code> or <code>WIP:</code> to prevent a
          <strong>Work In Progress</strong> merge request from being accepted before it's ready.
.form-group.issuable-description
  = f.label :description, 'Description', class: 'control-label'
  .col-sm-10

    = render layout: 'projects/md_preview', locals: { preview_class: "wiki", referenced_users: true } do
      = render 'projects/zen', f: f, attr: :description,
                               classes: 'description form-control'
      .col-sm-12.hint
        .pull-left
          Parsed with
          #{link_to 'GitLab Flavored Markdown', help_page_path('markdown', 'markdown'), target: '_blank'}.
        .pull-right
          Attach files by dragging &amp; dropping
          or #{link_to 'selecting them', '#', class: 'markdown-selector' }.

      .clearfix
      .error-alert
  %hr
- if can?(current_user, :admin_issue, @project)
  .form-group
    .issue-assignee
      = f.label :assignee_id, class: 'control-label' do
        %i.fa.fa-user
        Assign to
      .col-sm-10
        = users_select_tag("#{issuable.class.model_name.param_key}[assignee_id]",
            placeholder: 'Select a user', class: 'custom-form-control', null_user: true,
            selected: issuable.assignee_id, project: @target_project || @project)
        &nbsp;
        = link_to 'Assign to me', '#', class: 'btn assign-to-me-link'
  .form-group
    .issue-milestone
      = f.label :milestone_id, class: 'control-label' do
        %i.fa.fa-clock-o
        Milestone
      .col-sm-10
        - if milestone_options(issuable).present?
          = f.select(:milestone_id, milestone_options(issuable),
            { include_blank: 'Select milestone' }, { class: 'select2' })
        - else
          .prepend-top-10
          %span.light No open milestones available.
        &nbsp;
        - if can? current_user, :admin_milestone, issuable.project
          = link_to 'Create new milestone', new_namespace_project_milestone_path(issuable.project.namespace, issuable.project), target: :blank
  .form-group
    = f.label :label_ids, class: 'control-label' do
      %i.fa.fa-tag
      Labels
    .col-sm-10
      - if issuable.project.labels.any?
        = f.collection_select :label_ids, issuable.project.labels.all, :id, :name,
          { selected: issuable.label_ids }, multiple: true, class: 'select2'
      - else
        .prepend-top-10
        %span.light No labels yet.
      &nbsp;
      - if can? current_user, :admin_label, issuable.project
        = link_to 'Create new label', new_namespace_project_label_path(issuable.project.namespace, issuable.project), target: :blank

- if issuable.is_a?(MergeRequest)
  - if @project.approvals_before_merge.nonzero?
    .form-group
      = f.label :approver_ids, class: 'control-label' do
        Approvers
      .col-sm-10
        = users_select_tag("merge_request[approver_ids]", multiple: true, class: 'input-large', scope: :all, email_user: true)
        .help-block
          Merge Request should be approved by these users. 
          - if @project.approvers.any?
            Suggested approver(s): #{render_items_list(@project.approvers.map{ |approver| approver.user.name})}.
            You can override the project settings by setting your own list of approvers.
        
        .panel.panel-default.prepend-top-10
          .panel-heading
            Approvers
            %small
              (#{@merge_request.approvers.count(:all)})
          %ul.well-list
            - @merge_request.approvers.each do |approver|
              %li
                = link_to approver.user.name, approver.user
                .pull-right
                  = link_to namespace_project_merge_request_approver_path(@project.namespace, @project, @merge_request, approver), data: { confirm: "Are you sure you want to remove approver #{approver.user.name}"}, method: :delete, class: "btn-xs btn btn-remove", title: 'Remove approver' do
                    = icon("sign-out")
                    Remove
            - if @merge_request.approvers.empty?
              %li There are no approvers
  %hr
    - if @merge_request.new_record?
      .form-group
        = f.label :source_branch, class: 'control-label' do
          %i.fa.fa-code-fork
          Source Branch
        .col-sm-10
          = f.select(:source_branch, [@merge_request.source_branch], { }, { class: 'source_branch select2 span2', disabled: true })
  .form-group
    = f.label :target_branch, class: 'control-label' do
      %i.fa.fa-code-fork
      Target Branch
    .col-sm-10
      = f.select(:target_branch, @merge_request.target_branches, { include_blank: "Select branch" }, { class: 'target_branch select2 span2', disabled: @merge_request.new_record? })
      - if @merge_request.new_record?
        %p.help-block
        = link_to 'Change branches', mr_change_branches_path(@merge_request)

.form-actions
  - if !issuable.project.empty_repo? && (guide_url = contribution_guide_url(issuable.project)) && !issuable.persisted?
    %p
      Please review the
      %strong #{link_to 'guidelines for contribution', guide_url}
      to this repository.
  - if issuable.new_record?
    = f.submit "Submit new #{issuable.class.model_name.human.downcase}", class: 'btn btn-create'
  - else
    = f.submit 'Save changes', class: 'btn btn-save'
  - if issuable.new_record?
    - cancel_project = issuable.source_project
  - else
    - cancel_project = issuable.project
  = link_to 'Cancel', [cancel_project.namespace.becomes(Namespace), cancel_project, issuable], class: 'btn btn-cancel'
